    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="#">New Item</a>
      <ul class="nav navmenu-nav">
      <form action="" id="itemForm" ng-submit="saveItem()" method="POST" role="form">
        <li class="form-group"><input type="text" ng-model="item.name" id="itemName" class="form-control" placeholder="Name" /></li>
        <li class="form-group"><input type="number" ng-model="item.quantity" id="itemQuantity" class="form-control" placeholder="Quantity" /></li>
        <li class="form-group"><input type="text" ng-model="item.note" id="itemNote" class="form-control" placeholder="Notes" /></li>
        <li>
          <input type="hidden" name="itemDone" id="itemDone" ng-model="item.done" ng-value="false">
          <button type="submit" class="btn btn-primary">Submit</button>
      </li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

<div class="container">
<div id="messages" ng-show="message">{{ message }}</div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default items">
      <div class="panel-heading">
        <h3 class="panel-title">Items <span class="label label-primary">{{getTotalItems()}}</span></h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li ng-repeat="item in itemList | orderBy:'done' : reverse" class="list-group-item">

            <div class="checkbox">
              <label for="item-{{item._id}}">
              <span ng-if="item.done">
                <h4>
                <input type="checkbox" id="item-{{item._id}}" ng-click="itemNotComplete(item._id)" class="faChkSqr" checked="">
                    <span class="strike">
                      {{ item.name }} <span ng-if="item.quantity"> - {{ item.quantity }}</span>
                      <small>{{ item.note }}</small>
                    </span>
                </h4>
                </span>
                <span ng-if="!item.done">
                  <h4>
                    <input type="checkbox" id="item-{{item._id}}" ng-click="itemComplete(item._id)" class="faChkSqr">
                    <span class="item-label">{{ item.name }} <span ng-if="item.quantity"> - {{ item.quantity }}</span></span>
                    <small>{{ item.note }}</small>
                  </span>
                </h4>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
